<h1 class='title'>All Users</h1>
<% @users = User.all %>
<% @users.each do |user| %>
  <div class='each-post'>
    <h3><%= user.email %></h3>
    <p>Joind on: <%= user.created_at %></p>
    <a><%= link_to "View Profile", profile_path(user.id), :class => 'btn btn-info' %></a>
  </div>
<% end %>
