// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3.post-title {
  font-family: arial;
  color: #343a40;
  font-weight: bold;
}
div.each-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 0px;
  padding: 40px;
  border-bottom: 1px solid black ;
}
.avatar {
  padding: 10px;
}
.post-content {
  padding: 10px;
}
p {
  font-family: arial;
  color: #343a40;
  }
