// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  font-family: arial;
  color: grey;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

div.each-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  margin: 0px;
  padding: 30px;
  border-bottom: 1px dashed grey ;
}
.avatar {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.post-info {
  padding: 30px;
  text-align: right;
}

.post-content {
  border-left: 1px dashed lightgray ;
  padding: 30px;
}
.post-image-container {
  width: 350px;
  display: flex;
}
.post-image {
  padding: 20px;

}
p {
  font-family: arial;
  color: #343a40;
  }


.red {
  color: red;
}

.spaced {
  padding-right: 5px;
}

