// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.profile-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 40px;
  border-bottom: 1px dashed grey;
  width: 700px;
}

#PostOnWall {
  width: 650px;
  margin: auto;
}

#Posts {
  align-items: center;
}

.read-btn {
  width: 100px;
  margin: auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 40px;
}
.profile-container {
  max-width: 1000px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  }
.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-bottom: 0;
}
.user-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.tablink {
  margin: 10px;
  font-family: arial;
  font-size: 20px;
  color: #3ca868;
  font-weight: lighter;
  border: none;
  text-align: center;
}
.avatar #profile-avatar{
  padding: 10px;
}
.post-content {
  padding: 30px;
}

.center-me {
  margin: auto;
  align-items: center;
}

    h1.title {
      font-family: arial;
      font-size: 50px;
      color: #343a40;
      padding: 20px;
    }
    h3 {
      font-family: arial;
      color: #343a40;
      font-weight: bold;
    }
    p {
      font-family: arial;
      color: #343a40;
    }


      h1.title {
        font-family: arial;
        font-size: 50px;
        color: #343a40;
        padding: 20px;
      }
      h3 {
        font-family: arial;
        color: #343a40;
        font-weight: bold;
      }
      p {
        font-family: arial;
        color: #343a40;
      }
      .logic {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
